// --------------------------------------------------------------------------------
// VIEW - PASSWORD
//---------------------------------------------------------------------------------
.v-password {

	.password-form {
		margin: 0 auto;
		width: 480px;

	    @media (max-width: 522px) {
	        width: 294px;
	    }

	}

}