// --------------------------------------------------------------------------------
// MODULES - BUTTON
// --------------------------------------------------------------------------------
.m-button {
    @include transition (all $transition-timer-400ms $transition-easeInOutQuad);
    @include font-size(0.8125); // 13px

    border-radius: $l-spacing-2;
    box-shadow: $box-shadow-right-bottom;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    padding: $l-spacing-8 $l-spacing-21 6px $l-spacing-21;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.m-button:hover {
}
.m-button:focus {
}
.m-button-full-width {
    width: 100%;
}
.m-button-tall {
   padding: $l-spacing-13 $l-spacing-21; 
}


.m-button-input {
    padding: 10px $l-spacing-13 9px $l-spacing-13;
}

.m-button-smaller {
   padding: 7px 13px 5px 13px;
}

.m-button-small {
   @include font-size(0.625); 
   padding: $l-spacing-5 $l-spacing-8;
   line-height: 15px;
}
.m-button-medium {
   @include font-size(0.6875); 
   padding: $l-spacing-8;
   line-height: $l-spacing-21;
}

.m-button-go {
    @include font-size(0.75); // 12px

    padding: 4px $l-spacing-8 2px $l-spacing-8;
}


.m-button-primary {
    background: $color-button-primary;
    border: 1px solid $color-button-primary-hover;
    color: $color-white;
}
.m-button-primary:hover {
    background: $color-button-primary-hover;
    color:  $color-white;
}


.m-button-secondary {
    background: $color-button-secondary;
    border: 1px solid $color-button-secondary-hover;
    color: $color-white;
}
.m-button-secondary:hover {
    background: $color-button-secondary-hover;
    color: $color-white;
}


.m-button-neutral, .m-button.disabled, .m-button[disabled] {
    background: $color-button-nuetral;
    border: 1px solid $color-gray-200;
    box-shadow: $box-shadow-right-bottom-light;
    color: $color-gray-900;
}
.m-button-neutral:hover {
    background: $color-button-nuetral-hover;
}
.m-button.disabled, .m-button[disabled] {
    color: $color-gray-200;
    cursor: not-allowed;
}

.m-button-onboard-assertive {
    background: $color-button-guide;
    border: 1px solid $color-button-guide-hover;
    color: $color-white;
}
.m-button-onboard-assertive:hover {
    background: $color-button-guide-hover;
}


.m-button-alert {
    background: $color-button-alert;
    border: 1px solid $color-button-alert-hover;
    color: $color-white;
}
.m-button-alert:hover {
    background: $color-button-alert-hover;
}