// --------------------------------------------------------------------------------
// MODULES - FORM CONTROL - SELECTIZE
// --------------------------------------------------------------------------------
.m-form-control-selectize {
    .selectize-input {
        @include transition(all $transition-timer-400ms $transition-easeInOutQuad);

        background: $color-white !important;
        border: 1px solid $color-border !important;
        border-color: $color-border !important;
        border-radius: 0 !important;
        height: $l-input-height !important;
        outline: none !important;
        padding: 0 $l-spacing-3 !important;
        margin-bottom: 0 !important;

        > div {
            margin-top: 6px;
        }
    }

    .selectize-input.input-active, .selectize-input.input-active:hover, .selectize-control.multi .selectize-input.focus {
        border: 1px solid $color-border-hover !important;
        border-color: $color-border-hover !important;
        box-shadow: $box-shadow-all-light !important;
    }
}
