// --------------------------------------------------------------------------------
// TEMPLATE - VIEW
// --------------------------------------------------------------------------------

// CONTAINER FOR THE VIEW HEADER AND BODY
.t-view {
	height: 100%;
	position: relative;
	width: 100%;	
}
